<pre class="first">
<h1 id="first">Francis's Website</h1>
</pre>

	body {
	margin: 40px;
	padding: 40px;
	background-color: #FFFFFF;
	border: 2px solid #2E2EFE;
	}

h1, footer {
	text-align: center;
	color: #18739A;
	}

.first {
	background-color: #FFFFFF;
	border: 2px solid #2E2EFE;
	}

a	{
	color: #24567C;
	}

h2	{
	color: #18739A;
	}
